<section class="news">
   <div class="news-line text-center"> 
     <h4> News</h4>
   </div>

  <div class="container col-lg-12 text-center">
      <div class="row text-center d-flex justify-content-center flex-wrap ">
        <div class="card card-custom col-lg-3 col-md-6 col-sm-12 col-12 mr-md-2 mb-2">
          <div class="card-body">
              <img class="card-img img-fluid" src="/images/us.jpg" alt="Card image">

            <h5 class="card-title mt-4 font-weight-bold">Play with Gigio and Dani!</h5>
            <p class="card-text"> Try your luck and register to be one of three people that will have the chance to play with the creators of TableFlip!!</p>
          </div>
        </div>


        <div class="card card-custom col-lg-3 col-md-6 col-sm-12 col-12 mr-md-2 mb-2">
          <div class="card-body">
              <img class="card-img img-fluid" src="/images/2news.png" alt="Card image">

            <h5 class="card-title mt-4 font-weight-bold">How to Get the Most Out of Your Old Used Board Games!</h5>
            <p class="card-text">One great thing about board games is that they retain their value really well. You might be able to fetch a reasonable price for them.</p>
          </div> 
        </div>
           

        <div class="card card-custom col-lg-3 col-md-6 col-sm-12 col-12 pr-md-2 mb-2">
          <div class="card-body">
              <img class="card-img img-fluid" src="/images/3news.jpg" alt="Card image">

            <h5 class="card-title mt-4 font-weight-bold">The best Game of Thrones board games for your game night!</h5>
            <p class="card-text">After nine long years, Game of Thrones has finally come to its end, and it’s a bittersweet experience for many. While the reception of the final season has been divisive, …</p>
          </div>
        </div>
        </div>
  </div>
  
  <div class="news-line text-center mt-5"> 
     <h4> Articles</h4>   
   </div>

  <div class="container">  
    <ul class="list-unstyled d-flex justify-content-center flex-wrap">
      <li class="media d-flex justify-content-center flex-wrap mb-3">
        <img src="/images/1article.png" class="col-lg-6 col-md-6 col-sm-12 col-12" alt="...">
        <div class="media-body media-custom col-lg-6 col-md-6 col-sm-12 col-12" >
          <h5 class="mt-1 mb-2 font-weight-bold">FIVE REASONS WHY I PLAY MODERN BOARD GAMES, AND WHY YOU SHOULD TOO</h5>
          More and more adults are jumping into the phenomenon of modern board games. As the hobby gets bigger and bigger, it’s important to look at an important question. WHY do we play modern games?
        </div>
      </li>
      <li class="media d-flex justify-content-center flex-wrap mb-3">
        <img src="/images/2article.jpg" class="col-lg-6 col-md-6 col-sm-12 col-12" alt="...">
        <div class="media-body media-custom col-lg-6 col-md-6 col-sm-12 col-12">
          <h5 class="mt-1 mb-2 font-weight-bold">HOW TO WELCOME GAMERS WITH SOCIAL ANXIETY</h5>
          For those of us with social anxieties, when we meet new people or we precipitate an awkward moment in conversation, we are quite literally experiencing the same feelings that most people do when they’re fighting for their lives. There are plenty of excellent resources out there to help you better understand anxiety in general…but how about some do’s and don’ts specifically geared towards making your table friendly for newcomers with social anxiety?
        </div>
      </li>
      <li class="media d-flex justify-content-center flex-wrap mb-3">
        <img src="/images/3article.png" class="col-lg-6 col-md-6 col-sm-12 col-12" alt="...">
        <div class="media-body media-custom col-lg-6 col-md-6 col-sm-12 col-12">
          <h5 class="mt-1 mb-2 font-weight-bold">10 TYPES OF ANNOYING BOARD GAME PLAYERS, AND HOW TO DEAL WITH THEM</h5>
          Game night isn’t just about the game, it’s about the people you play with. Unfortunately, not all of them are pleasant. Here are some common annoying tabletop behaviors, and things that can be done to help them.        </div>
      </li>
    </ul>    
  </div>
</section>