<h1> Home </h1>
<p> Ensured Login Page</p>
<p> HOME | EVENTS | PLAYERS | PLACES  <a href="/profile/{{user._id}}">Profile</a> --- <a href="/logout">log Out</a></p>
<a href="/createvents">Create Events</a>