<h1>Find Players Nearby</h1>
<style>
    #map {
    height: 600px;
    width: 100%;
    }
</style>
<h3>If you want to appear, please edit your profile and send your location!!!</h3>
<div id="map"></div>

<div class="people-list" id="people-list">

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GMAPS}}"></script>
<script type="text/javascript" src="/js/maps.js"></script>
 