
<section class="signup">
  <div class="signup-form2 container d-flex flex-column justify-content-center text-center col-lg-4">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST" id="form-container">
      <div class="sign-input form-group">
        <label for="exampleInputUsername1">Username</label>
        <input id="username" class="input-form form-control" type="text" name="username" placeholder="JonSnow">
      </div>
      <div class="sign-input form-group">
        <label for="exampleInputPassword1">Password</label>
        <input id="password" class="input-form form-control" type="password" name="password"
          placeholder="Your password">
      </div>
      <div class="sign-input form-group">
        <label for="exampleInputEmail1">Email</label>
        <input id="email" class="input-form form-control" type="text" name="email" placeholder="me@domain.com">
      </div>
      <label for="name"> Name</label>
      <div class="sign-input form-group name-sign">
        <input id="firstName" class="input-form form-control first" type="text" name="firstName"
          placeholder="First name">
        <input id="lastName" class="input-form form-control last" type="text" name="lastName" placeholder="Last name">
      </div>
      {{#if message}}
      <div class="alert alert-danger d-inline-flex justify-content-center p-2 text-center mb-2 rounded" >{{ message }}</div>
      {{/if}}
      <br><br>

      <button type="submit" class="btn btn-primary btn-sign">Create Account</button>

      <p class="account-message">
        Do you already have an account?
        <a href="/login">Login</a>
      </p>
    </form>
  </div>
</section>