<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom">
  <a class="navbar-brand" href="#">TableFlip</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon icon-custom"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center div-nav-custom" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link li-custom active" href="#main">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link li-custom" href="#features">Features</a>
      <a class="nav-item nav-link li-custom" href="#about">About</a>
    </div>
  </div>
  <a class="btn d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 sign-up" href="/login">Sign In</a>
</nav>

<section class="main" id="main">
  <div class="overlay">
    <div class="main-custom container d-flex flex-column justify-content-center text-center">
      <h1 class="display-4">TABLE FLIP</h1>
      <p class="lead">Find players to join you in your adventure!</p>
      <hr class="my-4">
      <p class="pt-3">Sign up and make friends, host meet ups and stay up to date with the community!</p>
      <p class="lead">
        <a class="btn btn-primary btn-custom btn-lg" href="/signup" role="button">Get Started!</a>
      </p>
    </div>
  </div>
</section>
<section class="features " id="features">
  <div class="container">
    <div class="d-flex flex-column align-items-center align-features text-center ml-4">
      <div class="row d-flex justify-content-center">
        <div class="card card-home mb-3 p-4 mr-4 col-lg-3">
          <h3 class="text-uppercase pb-3"> Meet friends</h3>
          <p> Find players that are near you and enjoy the same game as you, never play alone again!</p>
        </div>
        <div class="card card-home mb-3 p-4 mr-4 col-lg-3">
          <h3 class="text-uppercase pb-3">Find Places</h3>
          <p> Find stores to buy all game types or somewhere to go and play!</p>
        </div>
        <div class="card card-home mb-3 p-4 mr-4 col-lg-3">
          <h3 class="text-uppercase pb-3">Join events</h3>
          <p> Go to meet ups near you or host you own event! Search for the type of game you want to play and join in!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about" id="about">
  <div class="container">
    <div class="d-flex flex-column justify-content-center text-center">
      <h2 class="text-uppercase">About</h2>
      <p>
        This is a project for the IronHack bootcamp module 2, made by Daniela Gentil and Giovanni Paulo da Cunha.
        In hope that we can help you all to connect with new friends and play your favorite game with people as
        enthusiastic as you, while also keeping the table top gamming alive!
      </p>
    </div>
  </div>
</section>