<nav class="navbar">
  <div class="logo">
  <p>TableFlip</p>
</div>
<ul class="ul-nav">
  <li class="li-nav"><a href="/">Home</a></li>
  <li class="li-nav"><a href="#features">Features</a></li class="li-nav">
  <li class="li-nav"><a href="#about">About</a></li>
</ul>
<div class="signup">
  <a href="/signup">Sign Up</a>
</div>
</nav>
<section class="main">
  <h1>Table Flip</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum risus sit amet enim sodales, at mollis sem molestie. 
    Maecenas at molestie sapien, in interdum metus. Fusce tempus quis erat et facilisis. Quisque luctus massa non eros blandit tincidunt.
    Vivamus dignissim vitae lacus id aliquet. Nullam tempor, risus vitae porttitor semper, tortor urna ultrices velit, eu placerat odio diam a odio.
    Suspendisse fringilla iaculis nisl, eu consequat mauris consectetur dapibus. Donec in tortor nec magna consectetur posuere.
  </p>
</section>
<section class="features">

</section>
<section class="about">

</section>