<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TableFlip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{#if user}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom">
        <a class="navbar-brand" href="#">TableFlip</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon icon-custom"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center div-nav-custom" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link li-custom" href="/home">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link li-custom dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Events
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/createvents">Create Events</a>
                        <a class="dropdown-item" href="/events">Join Events</a>
                    </div>
                </li>
                <a class="nav-item nav-link li-custom" href="/findfriends">Players</a>
                <a class="nav-item nav-link li-custom" href="">Places</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 sign-up dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user-circle"></i>
                PROFILE
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile/{{user._id}}">Settings</a>
                <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
        </div>
        {{!-- <a class="btn d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 sign-up" href="/logout">Log Out</a> --}}
    </nav>
    {{/if}}
    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>