html {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 55px;
}
/* .navbar {
  width: 100%;
  background-color: #333;
  margin: 0;
  padding: 0;
  font-size: 1em;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
.ul-nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.signup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: crimson;
  font-size: 1.2em;
  margin-top: 15px;
}

.li-nav a,
.signup a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  background-color: transparent;
  background-size: 0;
  transition: all 0.3s ease-in-out;
}

.li-nav a:hover,
.signup a:hover {
  background-color: #111;
  background-size: 100%;
} */

/* FRONT-PAGE */
.navbar {
  padding: 0px 30px;
}
.navbar-custom {
  text-transform: uppercase;
}

.custom-toggler {
  border: 0px;
  margin: 10px 0px;
}

.li-custom {
  padding: 1em;
  background-color: transparent;
  background-size: 0;
  transition: all 0.5s ease-in-out;
}
.li-custom:hover {
  background-color: #664f01;
}

.sign-up {
  color: white;
  border-color: #755d0d;
  background-color: transparent;
  background-size: 0;
  transition: all 0.5s ease-in-out;
}
.sign-up:hover {
  background-color: #755d0d;
}

/* section main */
.main {
  height: 90vh;
  background-image: url(/images/cards-yellow.jpg);
  background-size: cover;
}
.main-custom {
  height: 100%;
  width: 80%;
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.btn-custom {
  background-color: rgb(47, 47, 46);
  border: 1px rgb(47, 47, 46) solid;
  border-radius: 25px;
  margin-top: 5%;
  text-transform: uppercase;
}
.btn-custom:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-custom:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}
/* features */
.features {
  height: 40vh;
  background-color: white;
}
.align-features {
  padding-top: 5%;
}
/* about */
.about {
  height: 40vh;
  padding-top: 5%;
  background-color: dimgray;
}
/* END FRONT PAGE */

/* Sign up and Login*/
.signup h2 {
  padding-bottom: 5%;
  text-transform: uppercase;
  color: #c99e10;
}
.signup-form {
  width: 50vh;
  height: 65vh;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first,
.last {
  width: 50%;
}

.name-sign {
  display: flex;
  justify-content: flex-end;
}
.btn-sign {
  background-color: dimgray;
  border: 1px dimgray solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.btn-google {
  background-color: rgb(116, 47, 47);
  border: 1px rgb(116, 47, 47) solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}
.btn-google a {
  text-decoration: none;
  color: white;
}
.btn-google:hover {
  background-color: dimgray;
  border: 1px dimgray solid;
}
.btn-google:active {
  background-color: dimgray !important;
  border: 1px dimgray solid;
}
.btn-sign:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-sign:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}
.input-form:hover {
  border: 2px solid #c99e10;
}
.sign-input {
  padding: 0 30px;
}

/* HOME NEWS */

.news-line {
  height: 40px;
  width: 100%;
  background-color: rgba(177, 131, 31, 0.589);
  margin-top: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
}
.news-line h4 {
  padding-top: 5px;
}
.card-body {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.card {
  border: 0px;
  height: 50vh;
  width: 30% !important;
  box-shadow: 0 4px 8px 0 rgba(253, 222, 43, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.media {
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(46, 45, 43, 0.4);
}
.media img {
  height: 20vh;
}

/* EVENTS */
.create-event {
  margin-top: 5%;
}
.create-custom {
  width: 50%;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(253, 222, 43, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-event h2 {
  padding-bottom: 5%;
  text-transform: uppercase;
  color: #c99e10;
}

.btn-create-event {
  margin-left: 40%;
  margin-top: 5%;
}
.form-size {
  width: 400px;
}
.form-size-sel {
  width: 400px;
}
.form-size-sel1 {
  width: 280px;
}
.form-size-num {
  width: 100px;
  margin-left: 10%;
}

@media only screen and (max-width: 830px) {
  .form-size {
    width: 300px;
  }
  .form-size-sel {
    width: 200px;
  }
  .form-size-sel1 {
    width: 180px;
  }
  .form-size-num {
    width: 50px;
    margin-left: 10%;
  }
}

.people-list{
  width: 400px;
  height: 400px;
  background-color: red;
  color: black;
}