html {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 55px;
}
/* FRONT-PAGE <--------------------------- */
/* Nav Bar */
.navbar {
  padding: 0px 30px;
}
.navbar-custom {
  text-transform: uppercase;
}
.li-custom {
  padding: 1em;
  background-color: transparent;
  background-size: 0;
  transition: all 0.5s ease-in-out;
}
.li-custom:hover {
  background-color: #755d0d;
}
.sign-up {
  color: white;
  border-color: #755d0d;
  background-color: transparent;
  background-size: 0;
  transition: all 0.5s ease-in-out;
}
.sign-up:hover {
  background-color: #755d0d;
}
.custom-toggler {
  border: 0px;
  margin: 10px 0px;
}

/* Nav Bar Logged In */
.profile-button {
  color: white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #755d0d;
  border-radius: 0;
  background-color: transparent;
  background-size: 0;
  transition: all 0.5s ease-in-out;
}
.profile-button:hover {
  background-color: #755d0d;
}

/* Main section front page */
.main {
  height: 90vh;
  background-image: url(/images/cards-yellow.jpg);
  background-size: cover;
}
.main-custom {
  height: 100%;
  width: 80%;
  color: white;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.btn-custom {
  background-color: dimgray;
  border: 1px dimgray solid;
  border-radius: 25px;
  margin-top: 5%;
  text-transform: uppercase;
}
.btn-custom:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-custom:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}

/* Features section */
.features {
  background-color: white;
}
.card-home {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.align-features {
  padding: 5% 0;
}

/* About section */
.about {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: dimgray;
  color: white;
}
/* END FRONT PAGE <--------------------- */

/* Sign Up and Log In*/
.signup h2 {
  padding-bottom: 5%;
  text-transform: uppercase;
  color: #c99e10;
}
.signup-form {
  width: 50vh;
  height: 65vh;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup-form2 {
  padding: 5%;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first,
.last {
  width: 50%;
}
.name-sign {
  display: flex;
  justify-content: flex-end;
}
.btn-google {
  background-color: rgb(116, 47, 47);
  border: 1px rgb(116, 47, 47) solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}
.btn-google a {
  text-decoration: none;
  color: white;
}
.btn-google:hover {
  background-color: dimgray;
  border: 1px dimgray solid;
}
.btn-google:active {
  background-color: dimgray !important;
  border: 1px dimgray solid;
}
.btn-sign {
  background-color: dimgray;
  border: 1px dimgray solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}
.btn-sign:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-sign:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}
.input-form:hover {
  border: 2px solid #c99e10;
}
.sign-input {
  padding: 0 30px;
}

/* HOME PAGE <-------------------------------- */
/* News and Articles */
.news-line {
  height: 40px;
  width: 100%;
  background-color: rgba(177, 131, 31, 0.589);
  margin-top: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
}
.news-line h4 {
  padding-top: 5px;
}
.card-body {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.card-custom {
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(253, 222, 43, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.media {
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(46, 45, 43, 0.4);
}
.media img {
  height: auto;
  width: auto;
  max-width: 45%;
  max-height: 25%;
}
.card-img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
/* PROFILE <-------------------- */
.profile-page {
  box-shadow: 0 4px 8px 0 rgba(253, 222, 43, 0.1),
    0 20px 50px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
.profile-main {
  height: 80%;
}
.profile-img {
  height: auto;
  width: auto;
  max-width: 25%;
}
.btn-prof a {
  text-decoration: none;
  color: white;
}
.btn-prof {
  background-color: dimgray;
  border: 1px dimgray solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
}
.btn-prof:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-prof:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}

/*Edit Profile */
.btn-edit {
  margin-left: 40%;
  margin-top: 5%;
}

.edit-custom {
  width: 80vh;
  height: 80vh;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.edit-form h2 {
  padding-bottom: 5%;
  text-transform: uppercase;
  color: #c99e10;
}

/* Events <--------------------------- */
/* create event and show events*/
.create-event {
  margin-top: 5%;
}
.create-custom {
  width: 50%;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(253, 222, 43, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.create-custom2 {
  padding: 50px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(253, 222, 43, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.create-event h2 {
  padding-bottom: 5%;
  text-transform: uppercase;
  color: #c99e10;
}
.btn-create-event {
  margin-left: 40%;
  margin-top: 5%;
}
.form-size {
  width: 400px;
}
.form-size-sel {
  width: 400px;
}
.form-size-sel1 {
  width: 280px;
}
.form-size-num {
  width: 100px;
  margin-left: 10%;
}
.event-text {
  color: #c99e10;
}
.event-text a {
  text-decoration: none;
  color: #c99e10;
}
.event-break {
  border: 1px solid #755d0d;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(36, 31, 6, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Event details */
.event-one {
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 3% 5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-event a {
  text-decoration: none;
  color: white;
}
.btn-event {
  background-color: dimgray;
  border: 1px dimgray solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
  margin-right: 2%;
}
.btn-event:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-event:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}
.owner,
.comments {
  margin-top: 5%;
  padding-top: 3%;
  border-top: 1px solid #c99e10;
}
.game-img {
  height: auto;
  width: auto;
  max-width: 20%;
  max-height: 20%;
}
.game-info {
  text-decoration: none;
  color: black;
}
.game-info:hover {
  text-decoration: none;
  color: #c99e10;
}
.card-header {
  background-color: lightgray;
}
.img-map {
  height: auto;
  width: auto;
  max-width: 35%;
}

/* Find Players page */
.friend {
  border-bottom: 1px solid #755d0d;
}
.container-custom {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3% 2% 5% 2%;
  margin-top: 1%;
}
.container-custom2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3% 2% 2% 2%;
  margin-top: 1%;
}
.header-map h3 {
  color: #c99e10;
}
.search-input {
  background-color: lightgray;
  border: none;
  border-bottom: 3px solid #c99e10;
  height: 5vh;
  width: 30vh;
  padding: 1%;
}
.search-input2 {
  background-color: lightgray;
  border: none;
  border-bottom: 3px solid #c99e10;
  height: 6.3vh;
  width: 30vh;
  padding: 1%;
}
.search-input2:active {
  background-color: lightgray;
}
.btn-event2 a {
  text-decoration: none;
  color: black;
}
.btn-event2 {
  background-color: lightgray;
  border: 1px lightgray solid;
  border-radius: 25px;
  text-transform: uppercase;
  margin-bottom: 3%;
  margin-right: 2%;
  height: 6.3vh;
}
.btn-event2:hover {
  background-color: #c99e10;
  border: 1px #c99e10 solid;
}
.btn-event2:active {
  background-color: #c99e10 !important;
  border: 1px #c99e10 solid;
}
.icon {
  color: black;
}
.address-text {
  color: dimgray;
}
.email-name {
  margin-left: 30%;
}

/* Media query for event creation form */
@media only screen and (max-width: 830px) {
  .form-size {
    width: 300px;
  }
  .form-size-sel {
    width: 200px;
  }
  .form-size-sel1 {
    width: 180px;
  }
  .form-size-num {
    width: 50px;
    margin-left: 10%;
  }
}
